<h6>Follow me</h6>

    {% if site.harmony.social.twitter %}
    <li>
        <a title="{{ site.harmony.social.twitter }} on Twitter"
            href="https://twitter.com/{{ site.harmony.social.twitter }}"
            aria-label="Twitter" class="twitter wc-img-replace" target="_blank">
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <span class="sr-only">Twitter</span>
        </a>
    </li>
    {% endif %}

    {% if site.harmony.social.github %}
    <li>
        <a title="{{ site.harmony.social.github }} on Github"
            href="https://github.com/{{ site.harmony.social.github }}"
            aria-label="GitHub" class="github wc-img-replace" target="_blank">
            <i class="fa fa-github" aria-hidden="true"></i>
            <span class="sr-only">Github</span>
        </a>
    </li>
    {% endif %}

    {% if site.harmony.social.linkedin %}
    <li>
        <a title="{{ site.harmony.social.linkedin }} on LinkedIn"
            href="https://linkedin.com/{{ site.harmony.social.linkedin }}"
            aria-label="LinkedIn" class="linkedin wc-img-replace" target="_blank">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
            <span class="sr-only">LinkedIn</span>
        </a>
    </li>
    {% endif %}

</ul>
